@model List<Product>
@{
    ViewBag.Title = "Home Page";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span>@TempData["Success"]</span>
    </div>
}
<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="~/Content/Theme/images/banners/1.jpg" class="img-fluid rounded">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION FEATURE ========================= -->
<section class="section-content padding-y-sm">
    <div class="container">
        <article class="card card-body">


            <div class="row">
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
                        <figcaption class="pt-3">
                            <h5 class="title">Fast delivery</h5>
                            <p>
                                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore
                            </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>
                        <figcaption class="pt-3">
                            <h5 class="title">Creative Strategy</h5>
                            <p>
                               lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="item-feature">
                        <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
                        <figcaption class="pt-3">
                            <h5 class="title">High secured </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div> <!-- col // -->
            </div>
        </article>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION FEATURE END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content">
    <div class="container">

        <header class="section-heading">
            <h3 class="section-title">Popular products</h3>
        </header><!-- sect-heading -->


        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-3">
                    <div href="#" class="card card-product-grid">
                        @if (product.ImagePath != null)
                        {
                            <a href="#" class="img-wrap"> <img src="~/Content/images/product-images/@product.ImagePath"> </a>
                        }
                        else
                        {
                            <a href="#" class="img-wrap"> <img src="https://egeosgb.com.tr/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png"> </a>
                        }

                        <figcaption class="info-wrap">
                            <a href="#" class="title">@product.ProductName</a>

                            <div class="price mt-1">
                                <span>@product.UnitPrice TL</span>
                                @*<button class="btn btn-sm btn-outline-primary float-right">Sepete Ekle</button>*@
                                @Html.ActionLink("Sepete Ekle","AddToCart",new { id=product.Id},new { @class = "btn btn-sm btn-outline-primary float-right" })
                            </div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div>
            }
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title">Our Brands</h3>
        </header><!-- sect-heading -->

        <div class="row">
            <div class="col-md-2 col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo1.png"></a>
                    <figcaption class="border-top pt-2">36 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
            <div class="col-md-2  col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo2.png"></a>
                    <figcaption class="border-top pt-2">980 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
            <div class="col-md-2  col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo3.png"></a>
                    <figcaption class="border-top pt-2">25 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
            <div class="col-md-2  col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo4.png"></a>
                    <figcaption class="border-top pt-2">72 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
            <div class="col-md-2  col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo5.png"></a>
                    <figcaption class="border-top pt-2">41 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
            <div class="col-md-2  col-6">
                <figure class="box item-logo">
                    <a href="#"><img src="~/Content/Theme/images/logos/logo2.png"></a>
                    <figcaption class="border-top pt-2">12 Products</figcaption>
                </figure> <!-- item-logo.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y">
    <div class="container">

        <h3 class="mb-3">Download app demo text</h3>

        <a href="#"><img src="~/Content/Theme/images/misc/appstore.png" height="40"></a>
        <a href="#"><img src="~/Content/Theme/images/misc/appstore.png" height="40"></a>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ======================= -->
