@model RegisterVM
@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName belirtmiş olduğunuz @Model.Email adresine onay mailini gönderildi. Lütfen ilgili linki tıklayarak üyeliğini aktif hale getirin.</h2>

